.ingredientDisplay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
   

    
    height:18vh;
    margin-bottom: 2px;
}
.Ingredients {
    width: 50%;
    /*  With Images  */
    /* height: 100vh; */
  /*  With No Images  */
    height: 50vh;

  border: 1px solid black;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
 
  
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(223,38,39);

    border:1px solid black;
    height:140px;
    margin-bottom: 2px; */
}

.Ingredients p {
    font-size: 33px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(223,38,39);

}

.Ingredients img{
    width: 50%;
    height: 100%;
}

button{
    margin-top: 9px;
    margin-bottom: 0;
}


@media only screen and (max-width: 731px) {
    .Ingredients{
      width: 100%
    }
  }