/* Landing Page */
@font-face {
  font-family: TypoHoop;
  src: url(./Fonts/Typo\ Hoop_Light\ Demo.otf);
}


.landing{
    display: flex;
    flex-direction: row;
    background: #fff;
    height: 100vh;
  }
  .landing-text{
    display: flex;
    flex: 0 1 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;

    color: rgb(223,38,39)
  }
  
  .landing-text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .landing-text h2{
    color: #888;
    font-size: 15px;
  }
  
  .landing-image{
    background: url(./img/Landing_images/4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex: 0 1 60vw;
    margin: 0;
  }
  
  

